<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div>
        <center>
            <ul>
           <li> <a href="/admin">new</a></li>
            {% if current_user.is_authenticated %}
           <li> <a href="/admin">Admin</a></li>
            {% else %}
            {%endif%}
        </ul>
        </center>
    </div>
</body>
</html>