
<footer>
  
    <div class="row">
      <div class="column">
        <div class="logo">
          <i style="color: darkgoldenrod;" class='bx bxl-bitcoin' ></i> <h2 id="bibasetext" class="title" style="color: whitesmoke;">Standardcoinoption</h2>
      </div>
      </div>
      <div class="column">
      
        <ul style="color: whitesmoke;">
          ABOUT OUR COMPANY
        <a href="">  <li>User Agreement</li></a>
          <a href=""><li>Confidentiality Policy</li></a>
         <a href=""> <li>Risk statement</li></a>
          <a href=""><li>Bonus rules</li></a>
        </ul>
      </div>
      <div class="column">
        <ul style="color: whitesmoke;">
          TRADING PLATFORM
          <a href=""><li>Platform features</li></a>
          <a href=""><li>Trading Assets</li></a>
        </ul>
      </div>
      <div style="color: whitesmoke;" class="column">
        <ul style="color: whitesmoke;">
         FAQ
         <a href=""><li>FAQ</li></a>
        </ul>
      </div>
      <div style="color: whitesmoke;" class="column">
        <ul style="color: whitesmoke;">
          HOW TO START?
          <a href="./signup.html"><li>Open an Account</li></a>
         <a href="./payment.html"> <li>Payment Option</li></a>
         <a href=""> <li>Account Types</li></a>
        </ul>
      </div>
      <div  style="color: whitesmoke;"class="column">
        <ul style="color: whitesmoke;">Follow us on</ul>
        <div class="foto-row">
          <img class="foto-img" src="https://img.icons8.com/fluency/48/000000/twitter.png"/>
          <img class="foto-img" src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
        </div>
  
      </div>
    
        
      
      <!-- <div class="elfsight-app-c3fcf897-363c-4b32-89d7-0f762e3053a0"></div>
         -->
        
      
    </div>
   
   
  
  </footer>

