<style>
  h3{
    margin-top: -2%;
    margin-left: 80%;
    font-size: 20px;
  }

  @media only screen and (max-width:640px){
    h3{
      margin-left: 60%;
      margin-top: 3%;
    }
    h4{
      margin-bottom: 2%;
    }
    .header{

      height: 15%;
    }
  }
</style>
<header class="header">
        



        <div class="web">
       
          <div class="logo">
            <h4 class="title">Standardcoinoption</h4>
          
            
          
          </div>
          <h3><strong>  {{current_user.username}}</strong></h3>
         
          <div class="toggle">
           <button class="dropbtn" onclick="WebToggleNav()">
            
            <div class="profile-avatar">
            
              <img src="static/assets/imgs/illu/avatar.svg" alt="" srcset="">
            </div>
            
           </button>
           <div id="dropdownIDx" class="dropdown-content">
             <a onclick="Modal('docs')" href="#">Documentaion</a>
             <a href="/logout">Logout</a>
           </div>
          </div> 
         </div>

                   
    
    </header>