<aside class="sidebar">
        <div class="logo">
            <i class='bx bxl-bitcoin' ></i> 
            <!-- <h1 class="title">247cryptofx</h1> -->
        </div>

        <div class="sidebar-nav">
            <a href="/dashboard">
                <i class='bx bxs-dashboard'></i>
                menu
            </a>
            <a href="/profile">
                <i class='bx bx-user-circle' ></i>
                profile
            </a>
            <!-- <a onclick="Modal('modal')">
              <i class='bx bx-line-chart' ></i>
              Invest
            </a> -->
            <a onclick="Modal('userwallet')">
                <i class='bx bx-wallet'></i>
                Wallet
            </a>

            <a href="/logout">
              <i class='bx bx-door-open'></i>   
              Logout         
            </a>


        </div>

        <!-- <div class="sidebar-end">
            <a href="/logout">
                <i class='bx bx-door-open' ></i>
            </a>
        </div> -->
    </aside>