<aside class="sidebar">
        <div class="logo">
            <i class='bx bxl-bitcoin' style="color: goldenrod;"></i> 
            <!-- <h1 class="title">247cryptofx</h1> -->
        </div>

        <div class="sidebar-nav">
            <a href="/dashboard" style="color: goldenrod; font-size: 20px;margin-left: 10%;">
                <i class='bx bxs-dashboard'style="color: goldenrod;font-size: 50px;margin-left: 8%;"></i>
                menu
            </a>
            <a href="/profile" style="color: goldenrod;font-size: 20px;margin-left: 10%;">
                <i class='bx bx-user-circle'style="color: goldenrod;font-size: 50px;margin-left: 8%;" ></i>
                profile
            </a>
            <!-- <a onclick="Modal('modal')">
              <i class='bx bx-line-chart' ></i>
              Invest
            </a> -->
            <a onclick="Modal('userwallet')" style="color: goldenrod;font-size: 20px;margin-left: 10%;">
                <i class='bx bx-wallet' style="color: goldenrod;font-size: 50px;margin-left: 8%;"></i>
                Wallet
            </a>

            <a href="/logout" style="color: goldenrod;font-size: 20px;padding-left: 20%;">
              <i class='bx bx-door-open' style="color: goldenrod;font-size: 50px;margin-left: 8%;"></i>   
              Logout         
            </a>


        </div>

        <!-- <div class="sidebar-end">
            <a href="/logout">
                <i class='bx bx-door-open' ></i>
            </a>
        </div> -->
    </aside>